body {
  background: #52be80;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#interfazUsuario {
  background-color: #333;
  padding: 3px 15px 1px 15px;
  margin-top: 60px;
  border-radius: 10px;
  opacity: 0.8;
}

#interfazUsuario label,
h3 {
  color: aqua;
}

#btnRegistrar {
  width: 250px;
}